#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
h1 {
  color:aquamarine;
}
h2 {
  color: peru;
}
input{
  border: white solid 3px;
  margin: 5px;
  padding:5px;
  border-radius: 5px;
}









